<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>媒体焦点列表</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a class="btn" href="{:U('Media/add')}">新 增</a>
            <button class="btn ajax-post" url="{:U('Media/changeStatus',array('method'=>'resumeUser'))}" target-form="ids">启 用</button>
            <button class="btn ajax-post" url="{:U('Media/changeStatus',array('method'=>'forbidUser'))}" target-form="ids">禁 用</button>
            <button class="btn ajax-post confirm" url="{:U('Media/changeStatus',array('method'=>'deleteUser'))}" target-form="ids">删 除</button>
        </div>

        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				<input type="text" name="name" class="search-input" value="{:I('name')}" placeholder="请输入媒体焦点名称">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
			</div>
		</div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<th class="row-selected row-selected" style="width: 2%"><input class="check-all" type="checkbox"/></th>
		<th class="">编号</th>
		<th class="">媒体焦点标题</th>

			<th class="">媒体焦点图片</th>
        <th class="">媒体焦点简介</th>
			<!--<th class="">推荐设置</th>-->
		<th class="">状态</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="list">
		<volist name="list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
			<td>{$vo.id} </td>
			<td style="width:20%">{$vo.name}</td>

			<td><img src="{$vo.icon|picture}" style="max-height: 100px;max-width: 100px"/></td>
			<td style="width:40%">{$vo.content}</td>
			<!--<td>

					<eq name="vo.recommend" value="1">
						<a href="{:U('Media/recommend?id='.$vo['id'])}" style="color:red" >取消推荐</a>
						<else/>
						<a href="{:U('Media/recommend?id='.$vo['id'])}" class="">首页推荐</a>
					</eq>

			</td>-->
			<td>{$vo.status|get_status_title}</td>
			<td><eq name="vo.status" value="1">
				<a href="{:U('Media/changeStatus?method=forbidUser&id='.$vo['id'])}" class="ajax-get">禁用</a>
				<else/>
				<a href="{:U('Media/changeStatus?method=resumeUser&id='.$vo['id'])}" class="ajax-get">启用</a>
				</eq>
                <a href="{:U('Media/edit?id='.$vo['id'])}">编辑</a>
				<a href="{:U('Media/foreverdelete?id='.$vo['id'])}" class="confirm ajax-get">删除</a>
                </td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
	highlight_subnav('{:U('Category/index')}');
	</script>
</block>
