<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="__IMG__/pub/t_logo.gif" type="image/x-icon"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="Keywords" content="">
    <meta name="description" content="">
    <meta charset="UTF-8">
    <title>{:C(WEB_SITE_TITLE)}</title>
    <link type="text/css" href="__CSS__/main.css" rel="stylesheet" />
    <link type="text/css" href="__CSS__/news.css" rel="stylesheet" />
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/public.js"></script>
</head>
<body>
<!--标题信息栏-->
<div class="her_imsg">

    <include file="Public/header" />
</div>

<!--顶部菜单-->
<div class="heda_nav">
    <include file="Public/nav" />
</div>
<!--分割线-->
<div class="split_line"></div>
<!---->
<div class="travel_gbi" style="display: inline-block;" id="rippleria">
    <img src="__IMG__/news/0news_02.jpg" alt="">
</div>
<!--当前位置-->
<div class="postin_wy">
    <div></div>
    <em>您当前的位置：</em><a>首页</a><em>-</em><a>关于我们</a><em>-</em><a>企业简介</a>
</div>
<!-- >>>>>>>>>main<<<<<<<<<<< -->
<section>
    <div class="news_1gro">
        <div class="gro_lis">
            <ul>
                <li class="ckd_new" onclick="">企业简介</li>
                <li onclick="">组织架构</li>
                <li onclick="">领导介绍</li>
                <li onclick="">集团荣誉</li>
                <li onclick="">人才招聘</li>
                <li onclick="">大事展示</li>
            </ul>
        </div>
        <div class="gro_deta">
            <p><i>企业简介</i><em>Introduction</em></p>
            <div class="under00_lin">
                <span class="under00_ylin"></span>
                <span class="under00_hlin"></span>
            </div>
            <div class="text_lst_per">
                <div class="enter_pers">
                    <p>
                        锦屏因青山似锦、秀丽如屏而得名，位于贵州省东南部，黔东南州东部，总面积1597 平方公里，辖15 个乡镇和1 个省级经济开发区，总人口23 万，是一个集少
                        数民族文化、木商文化、红色文化、军屯文化于一体的多文化聚集地，是革命老区县和新阶段国家扶贫开发重点县，是中国早期工人运动领袖、龙华二十四烈士之一龙
                        大道和红军十八师师长龙云的故乡。
                    </p>
                    <p>
                        锦屏区位优越，是黔东南通往湘、粤、桂的重要门户，三黎高速公路穿境而过，距黎平机场60 公里，距贵广高铁从江站110公里，距沪昆高铁三穗站80 公里。境
                        内山清水秀，林木、青石、水能等资源丰富，素有“杉木之乡”、“青石之乡”、“水电之乡”美誉。锦屏是尚待开发的人文旅游宝地，是清水江“木商文化”发源地
                        和核心区，保存有10 余万件被列入《中国档案文献遗产名录》的锦屏文书，有600 余年历史保存完好的明代军事城堡、中国历史文化名村——隆里古城，锦屏三江国
                        家水利风景区，璀璨秀美的三板溪湖，全国最大的乡村集体林场——春蕾林场省级森林公园，中国景观村落、被誉为百年民族环保第一村——文斗苗寨，国家生态家园
                        示范村——雷屯等。
                    </p>
                    <img class="even_img" src="__IMG__/news/abtus_03.jpg" alt="">
                    <img src="__IMG__/news/abtus_05.jpg" alt="">
                    <p>
                        锦屏区位优越，是黔东南通往湘、粤、桂的重要门户，三黎高速公路穿境而过，距黎平机场60 公里，距贵广高铁从江站110公里，距沪昆高铁三穗站80 公里。境
                        内山清水秀，林木、青石、水能等资源丰富，素有“杉木之乡”、“青石之乡”、“水电之乡”美誉。锦屏是尚待开发的人文旅游宝地，是清水江“木商文化”发源地
                        和核心区，保存有10 余万件被列入《中国档案文献遗产名录》的锦屏文书，有600 余年历史保存完好的明代军事城堡、中国历史文化名村——隆里古城，锦屏三江国
                        家水利风景区，璀璨秀美的三板溪湖，全国最大的乡村集体林场——春蕾林场省级森林公园，中国景观村落、被誉为百年民族环保第一村——文斗苗寨，国家生态家园
                        示范村——雷屯等。
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-------底部--------->
<include file="Public/footer" />
<!--隐藏板-->
<div class="all_no"></div>
</body>
</html>