<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{:C(WEB_SITE_TITLE)}</title>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/plugin.js"></script>
    <script type="text/javascript" src="__JS__/public.js"></script>
</head>
<body>
<!--头部-->
<include file="Public/header" />
<!--横幅展示-->
<div class="banner_dom">
    <img src="{$icon|picture}" alt="">
</div>
<!--菜单导航-->
<div class="nav_dom">
    <ul>
        <volist name="nav" id="v">
            <li <eq name="v.id" value="$navid">class="inva_chk" </eq> ><a href="{$v.href}">{$v.title}</a></li>
        </volist>
    </ul>

</div>
<!--正文-->
<div class="daoy_list">

    <ul id="food">
        <volist name="food" id="vo">
        <li>
            <a href="{:U('Food/detail?id='.$vo['id'].'&model=leader')}">
                <img src="{$vo.icon|picture}" alt="">
            </a>
            <span>
                <p>
                    <em>{$vo.name}</em>
                    <i>

                    </i>
                </p>
                <p style=""><i>担任职务：</i>{$vo.position}</p>
                <p><i>所属部门：</i>{$vo.depart}</p>
            </span>
        </li>

       </volist>
    </ul>
</div>
<!--more-->
<div class="see_more">

    <a href="javascript:" class="molink">查看更多+</a>
</div>
<!--文章底部信息-->
<include file="Public/bottom" />
<!--底部菜单-->
<include file="Public/footer" />
</body>
<script>

    page=1;
    var    url="{:U('About/leader')}";

    $('.molink').click(function () {
        if($(this).hasClass('nothing')==false){
            $.post(url,{'page':page},function (da) {
                var obj = jQuery.parseJSON(da);
                if(obj.code==200){
                    $('#food').append(obj.msg);
                    page++;
                }else{
                    //$('.molink').addClass('nothing');

                    layer.msg('没有更多了哦~');
                }
            })
        }
    })
    $(document).on("click",".icon2",function () {
        var id = $(this).attr('data-id')
        var collection = $(this);
        var colnum=$(this).next('i');
        $.post("/Home/Ajax/collection",{'id':id,'type':'leader'},function(da){
            var num = colnum.html();
            var obj = jQuery.parseJSON(da);
            if(obj.code==200){
                colnum.html(parseInt(num)+1);
                collection.attr("src","/Public/wap/image/icon/hert.png");

            }else if(obj.code==201){
                colnum.html(parseInt(num)-1);
                collection.attr("src","/Public/wap/image/icon/aattt.png");
            }else{
                alert(obj.msg);
            }
        });
    })


</script>
</html>