<div class="dh_nr">
    <ul>
        <a href="{:U('Customer/index')}"><li><img src="__HYCIMAGES__/dh_kh.png"><span>客户管理</span></li></a>
        <a href="{:U('Hyc/index')}"><li class="active"><img src="__HYCIMAGES__/dh_kc.png"><span>库存管理</span></li></a>
        <a href="Hyc_index_wholesale.html"><li><img src="__HYCIMAGES__/dh_pf.png"><span>批发管理</span></li></a>
        <a href="{:U('Outbound/index')}"><li><img src="__HYCIMAGES__/dh_ck.png"><span>新增计划</span></li></a>
        <a href="Hyc_index_wholesale_record.html"><li><img src="__HYCIMAGES__/dh_jl.png"><span>批发记录</span></li></a>
        <a href="{:U('Planorder/index')}"><li><img src="__HYCIMAGES__/dh_jm.png"><span>计划管理</span></li></a>
        <a href="Hyc_index_platform.html"><li><img src="__HYCIMAGES__/dh_js.png"><span>平台结算管理</span></li></a>
        <a href="Hyc_index_sales.html"><li><img src="__HYCIMAGES__/xs_jl.png"><span>销售记录</span></li></a>
        <a href="Hyc_index_sales_statistical.html"><li><img src="__HYCIMAGES__/xs_tj.png"><span>销售统计</span></li></a>
        <a href="Hyc_index_salesman.html"><li><img src="__HYCIMAGES__/ywy.png"><span>业务员管理</span></li></a>
        <a href="Hyc_index_outbound.html"><li><img src="__HYCIMAGES__/dh_zh.png"><span>召回管理</span></li></a>
        <a href="Hyc_index_storage.html"><li><img src="__HYCIMAGES__/dh_zh.png"><span>入库管理</span></li></a>
        <a href="#"><li><img src="__HYCIMAGES__/dh_sh.png"><span>售后管理</span></li></a>
        <a href="#"><li><img src="__HYCIMAGES__/dh_ld.png"><span>联动管理</span></li></a>
        <a href="#"><li><img src="__HYCIMAGES__/dh_jb.png"><span>基本参数</span></li></a>
    </ul>
</div>
<!-- 右边导航 -->
<div class="right_dh">
    <ul>
        <a href="#"><li style="background: #00a3e7; border:1px solid #0091d5;"><img src="__HYCIMAGES__/right_kc.png"><span>库存管理</span></li></a>
        <a href="#"><li style="background: #00da9a; border:1px solid #00c48a;"><img src="__HYCIMAGES__/right_pf.png"><span>批发管理</span></li></a>
        <a href="#"><li style="background: #00cfe7; border:1px solid #00bbd1;"><img src="__HYCIMAGES__/right_ck.png"><span>出库管理</span></li></a>
        <a href="#"><li style="background: #ff8a00; border:1px solid #ea7f00;"><img src="__HYCIMAGES__/right_jl.png"><span>批发记录</span></li></a>
        <a href="#"><li style="background: #00d6b5; border:1px solid #00c4a6;"><img src="__HYCIMAGES__/right_xs.png"><span>销售记录</span></li></a>
        <a href="#"><li style="background: #ff6a6a; border:1px solid #ff3d3d;"><img src="__HYCIMAGES__/right_zh.png"><span>召回管理</span></li></a>
    </ul>
</div>