<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{:C(WEB_SITE_TITLE)}</title>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/plugin.js"></script>
    <script type="text/javascript" src="__JS__/public.js"></script>
</head>
<body>
<!--头部-->
<include file="Public/header" />

<!--正文标题-->
<div class="jingp_titl">
    <p>{$vo.name}</p>
    <ul>
        <li><a href="javascript:">文章来源：锦屏旅游资讯网</a></li>
        <!--<li><a href="javascript:">作者：{$vo.uid|modelField='usermember','name'}</a></li>-->
        <li><a href="javascript:">作者：锦屏旅游资讯网</a></li>
        <li><a href="javascript:">阅读：{$vo.view}</a></li>
        <li><a href="javascript:">发布时间：{$vo.create_time|date='Y.m.d',###}</a></li>
    </ul>
</div>
<!--正文-->
<div class="article_luxian">
    {$vo.content}
</div>
<div class="shouc_ck">
    <span>
        <p style="display: none"><img src="__IMG__/icon/pinlun.png" alt=""> 评论</p>
        <if condition="$vo.collection eq 1">
            <p><img src="__IMG__/icon/ht.png" alt=""  class="icon2" data-id="{$vo.id}">收藏</p>
            <else/>
            <p><img src="__IMG__/icon/ht.png" alt=""  class="icon2" data-id="{$vo.id}">收藏</p>

        </if>

    </span>
</div>
<!--information-->
<include file="Public/bottom" />
<!--底部菜单-->
<include file="Public/footer" />
</body>
<script>


    $(document).on("click",".icon2",function () {

        var id = $(this).attr('data-id')
        var collection = $(this);
        $.post("/Home/Ajax/collection",{'id':id,'type':'travelnote'},function(da){

            var obj = jQuery.parseJSON(da);
            if(obj.code==200){

                collection.attr("src","/Public/Wap/image/icon/ht.png");
            }else if(obj.code==201){

                collection.attr("src","/Public/Wap/image/icon/hert.png");
            }else{
               layer.msg(obj.msg);
            }
        });
    })
</script>
</html>