<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{:C(WEB_SITE_TITLE)}</title>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/plugin.js"></script>
    <script type="text/javascript" src="__JS__/public.js"></script>
</head>
<body>
<!--头部-->
<include file="Public/header" />


<!--横幅展示-->
<div class="banner_dom">
    <img src="{$icon|picture}" alt="">
</div>
<!--菜单导航-->
<div class="nav_dom">
    <ul>
        <li><a href="{:U('project/index')}">主要景区</a></li>
        <li><a href="{:U('scenic/route?navid=63')}">旅游路线</a></li>
        <li class="inva_chk"><a href="{:U('project/videolist')}">景区视频</a></li>
        <li><a href="{:U('project/note')}">旅行游记</a></li>

    </ul>

</div>
<!--正文-->
<div class="vide_list">

    <ul id="food">
        <volist name="food" id="vo">
        <li>
            <a href="{:U('wap/project/videodetail?id='.$vo['id'])}">
                <img src="{$vo.icon|picture}" alt="">
                <span></span>
                <p>{$vo.title}</p>
            </a>
        </li>

        </volist>
    </ul>
</div>
<!--more-->
<div class="see_more">

    <a href="javascript:" class="molink">查看更多+</a>
</div>
<!--文章底部信息-->
<include file="Public/bottom" />
<!--底部菜单-->
<include file="Public/footer" />
</body>
<script>

    page=1;
    var    url="{:U('Project/videolist')}";

    $('.molink').click(function () {
        if($(this).hasClass('nothing')==false){
            $.post(url,{'page':page},function (da) {
                var obj = jQuery.parseJSON(da);
                if(obj.code==200){
                    $('#food').append(obj.msg);
                    page++;
                }else{
                    //$('.molink').addClass('nothing');

                    layer.msg('没有更多了哦~');
                }
            })

        }
    })
    $(document).on("click",".icon2",function () {
        var id = $(this).attr('data-id')
        var collection = $(this);
        $.post("/Home/Ajax/collection",{'id':id,'type':'food'},function(da){
            var num = collection.html();
            var obj = jQuery.parseJSON(da);
            if(obj.code==200){
                collection.html(parseInt(num)+1);
                collection.css("background-image","url('/Public/Home/img/gud/ligcjj_03.jpg')");
            }else if(obj.code==201){
                collection.html(parseInt(num)-1);
                collection.css("background-image","url('/Public/Home/img/gud/dtjg_05.jpg')");
            }else{
                alert(obj.msg);
            }
        });
    })
</script>
</html>