<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>旅行游记详情</title>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/plugin.js"></script>
    <script type="text/javascript" src="__JS__/public.js"></script>
</head>
<body>
<!--头部-->
<div class="head_dom">
    <div class="head_left">
        <img src="__IMG__/head/log.png" alt="">
        <img src="__IMG__/head/name.jpg" alt="">
    </div>
    <div class="head_right">
        <img src="__IMG__/head/user_p.png" alt="">
        <img src="__IMG__/head/list_p.png" alt="">
    </div>
</div>

<!--正文标题-->
<div class="jingp_titl">
    <p>锦屏县春蕾林场森林公园新春之旅游记</p>
    <ul>
        <li><a href="javascript:">文章来源：锦屏旅游资讯网</a></li>
        <li><a href="javascript:">作者：锦屏旅游资讯网</a></li>
        <li><a href="javascript:">阅读：32</a></li>
        <li><a href="javascript:">发布时间：2017-12-15 11:42:35</a></li>
    </ul>
</div>
<!--正文-->
<div class="article_luxian">
    <span>
        隆里古城农文旅一体化产业带（隆里-新化-雷屯-龙池-敦寨）
        县道改扩建，总里程25公里，含慢游自行车道和机动车道，沿线接
        待驿站、春蕾森林公园自驾车露营基地、 林海山泉酒店隆里景区综
        合服务区等；隆里古镇；春蕾林场森林公园树顶栈道、森林小火车等业态产品；
        龙池生态园大门、游客中心、循环公路、草莓采摘园；雷屯村农
        耕文化博物馆、水上乐园等。
    </span>
    <p>隆里古镇</p>
    <div class="img_one">
        <img src="__IMG__/body/lvlx_03.jpg" alt="">
    </div>
    <p>春雷林场公园</p>
    <span>
        隆里古称龙里，原为明太祖朱元璋的第六子朱桢始创的屯兵城
        堡，到清朝，取“隆盛之理所”之意，才改为隆里。古镇很小，有两
        条街呈十字交叉状，分别连接东、南、西、北四座城门。因先民由
        中原江南九省移入，到此屯军，后解甲归田，融入到这片土地之中
        故今天的隆里是黔东南唯一全为汉人居住的城镇。他们的生活方式
        建筑、习俗仍保持着浓厚的古老汉文化样式，建筑有北京四合院的
        韵味、江南水乡的精致、江西民居的构型以及本土苗侗民族干栏式
        房屋的形式等多种风格的民居建筑。据说唐代著名诗人王昌龄曾谪
        居隆里。隆里的后人一直对王昌龄的人生遭遇充满了同情对他的学
        识也充满了崇敬。人们在龙标山麓、龙溪河畔修建了“状元墓”、
        “状元桥”、“状元亭”等建筑，以作为对这位文化人的永久纪念。
    </span>
    <div class="dub_img">
        <img src="__IMG__/body/luxianxq_01_06.jpg" alt="">
        <img src="__IMG__/body/luxianxq_01_08.jpg" alt="">
    </div>
    <p>交通</p>
    <span>
        <p>
            1.从黎平(最佳中转地)黎平汽车站13:45、14:45有发往隆里的班车，
            车程约1小时;也可在黎平乘至敖市的班车，7:00-18:00，50分钟1
            班，在敖市转车去隆里，3元/人。
        </p>
        <p>
            2.从锦屏至敖市，每天7:30-17:10，30分钟1班，经过隆里所村。
        </p>
    </span>
    <p>住宿</p>
    <span>
        <p>华荣酒店  &nbsp;&nbsp;&nbsp; 0831-2399999</p>
        <p>蓝天宾馆  &nbsp;&nbsp;&nbsp; 0831-6880568</p>
        <p>叙府宾馆  &nbsp;&nbsp;&nbsp; 0831-8189999</p>
    </span>
</div>
<div class="shouc_ck">
    <span>
        <p><img src="__IMG__/icon/pinlun.png" alt=""> 评论</p>
        <p><img src="__IMG__/icon/ht.png" alt="" class="collection_bt">收藏</p>
    </span>
</div>
<!--information-->
<include file="Public/bottom" />
<!--底部菜单-->
<include file="Public/footer" />
</body>
</html>