<extend name="Public/base" />
<!-- 管理员用户组新增和编辑页面 -->
<block name="body">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title">
		<h2>{$auth_group['id']?'编辑':'新增'}用户组</h2>
	</div>

    <form action="{:U('AuthManager/writeGroup')}" enctype="application/x-www-form-urlencoded" method="POST"
            class="form-horizontal">
        <div class="form-item">
            <label for="auth-title" class="item-label">用户组</label>
            <div class="controls">
                <input id="auth-title" type="text" name="title" class="text input-large" value="{$auth_group.title}"/>
            </div>
        </div>
        <div class="form-item">
            <label for="auth-description" class="item-label">描述</label>
            <div class="controls">
                <label class="textarea input-large"><textarea id="auth-description" type="text" name="description">{$auth_group.description}</textarea></label>
            </div>
        </div>
        
        <div class="form-item">
            <div class="controls">
                <label class="item-label">上传头像</label>
                <input type="file" id="upload_picture_type">
                <input type="hidden" name="icon" id="icon" value="{$auth_group['icon']|default=''}"/>
                <div class="upload-img-box">
                <notempty name="auth_group['icon']">
                    <div class="upload-pre-item"><img src="__ROOT__{$auth_group.icon|get_cover='path'}"/></div>
                </notempty>
                </div>
            </div>
            <script type="text/javascript">
            //上传图片
            /* 初始化上传插件 */
            $("#upload_picture_type").uploadify({
                "height"          : 30,
                "swf"             : "__STATIC__/uploadify/uploadify.swf",
                "fileObjName"     : "download",
                "buttonText"      : "上传图片",
                "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                "width"           : 120,
                'removeTimeout'	  : 1,
                'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
                "onUploadSuccess" : uploadPicture,
                'onFallback' : function() {
                    alert('未检测到兼容版本的Flash.');
                }
            });
            function uploadPicture(file, data){
                var data = $.parseJSON(data);
                var src = '';
                if(data.status){
                    $("#icon").val(data.id);
                    src = data.url || '__ROOT__' + data.path;
                    $("#icon").parent().find('.upload-img-box').html(
                        '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                    );
                } else {
                    updateAlert(data.info);
                    setTimeout(function(){
                        $('#top-alert').find('button').click();
                        $(that).removeClass('disabled').prop('disabled',false);
                    },1500);
                }
            }
            </script>
        </div>
        
        
        
        <div class="form-item">
            <input type="hidden" name="id" value="{$auth_group.id}" />
            <button type="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
<block>
<block name="script">
<script type="text/javascript" charset="utf-8">
    //导航高亮
    highlight_subnav('{:U('AuthManager/index')}');
</script>
</block>
