<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>内容列表</h2>
	</div>
	<div class="cf">
		<div class="fl">
			<if condition="$get['typeid'] neq ''">
            <a class="btn" href="{:U('enclosure/add?typeid='.$get['typeid'])}">新 增</a>
			<else />
			<a class="btn" href="{:U('enclosure/add')}">新 增</a>
			</if>
            <button class="btn ajax-post" url="{:U('enclosure/changeStatus',array('method'=>'resumeUser'))}" target-form="ids">启 用</button>
            <button class="btn ajax-post" url="{:U('enclosure/changeStatus',array('method'=>'forbidUser'))}" target-form="ids">禁 用</button>
            <button class="btn ajax-post confirm" url="{:U('enclosure/forverdel',array('method'=>'deleteUser'))}" target-form="ids">删 除</button>



        </div>

        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<form action="/Admin/enclosure/index" id="form1" method="get">
				<div class="sleft">
					<!--<input type="text" name="typeid" class="search-input" value="" placeholder="文件分类">-->
					<select class="search-input" name="typeid">
						<option value=" ">请选择分类</option>
						<volist name="lists" id="typelist">
							<option value="{$typelist.id}" <?php if($get['typeid']==$typelist[id]){echo 'selected';} ?>>{$typelist.html}{$typelist.title}</option>
						</volist>
					</select>
					<input type="text" name="title" class="search-input" value="{$get[title]}" placeholder="标题">
					<a class="sch-btn" href="javascript:;" id="search" ><i class="btn-search"></i></a>
				</div>
			</form>
		</div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">编号</th>
		<th class="">内容标题</th>
		<th class="">内容分类</th>
		<th class="">添加时间</th>
		<th class="">排序</th>

		<th class="">状态</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="list">
		<volist name="list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
			<td>{$vo.id} </td>
			<td title="{$vo['title']}">{$vo.title|cutstr=0,20}</td>
			<td>{:get_cate($vo['typeid'])}</td>
			<td>{$vo.create_time|date='Y-m-d H:i',###}</td>
			<td>{$vo.sort}</td>

			<td>{$vo.status|get_status_title}</td>
			<td><eq name="vo.status" value="1">
				<a href="{:U('enclosure/changeStatus?method=forbidUser&id='.$vo['id'])}" class="ajax-get">禁用</a>
				<else/>
				<a href="{:U('enclosure/changeStatus?method=resumeUser&id='.$vo['id'])}" class="ajax-get">启用</a>
				</eq>
                <a href="{:U('enclosure/edit?id='.$vo['id'].'&typeid='.$_GET['typeid'])}">编辑</a>
				<a href="{:U('enclosure/del?id='.$vo['id'].'&typeid='.$_GET['typeid'].'&fjid='.$_GET['fjid'])}" class="confirm ajax-get">删除</a>

                </td>
		</tr>
		</volist>
		<else/>
		<td colspan="10" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
	<input type="hidden" id="news_navs" value="{$controller_name}">
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
<script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
	<script type="text/javascript">


	$("#search").click(function(){
		$("#form1").submit();
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});

	
    //导航高亮
    highlight_subnav('{:U("enclosure/index")}');
	
	
	
	//排序
	$('input[name="sort"]').blur(function(){
	     
		   var id = $(this).attr('data-id');
		   var val = $(this).attr('data-val');
		   var newval = $(this).val();
		   if(val!=newval){
		     
			   $.post("/Admin/Ajax/editSort",{id:id,newval:newval},function(fg){
			   
			      layer.msg(fg.msg,{time:1000});
			       
			   });
		   }
	   });

	</script>
</block>
