<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{:C(WEB_SITE_TITLE)}</title>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/plugin.js"></script>
    <script type="text/javascript" src="__JS__/public.js"></script>
</head>
<body>
<!--头部-->
<include file="Public/header" />
<!--横幅展示-->
<div class="banner_dom">
    <img src="{$icon|picture}" alt="">
</div>
<!--菜单导航-->
<div class="nav_dom">
    <ul>
        <volist name="nav" id="kv">
            <li <if condition="$kv.id eq $navid">class="inva_chk" </if> ><a href="{$kv.href}">{$kv.title}</a></li>
        </volist>
    </ul>

</div>
<!--正文-->
<div class="toulvs_list">
    <ul id="food">
        <volist name="food" id="vo">
        <li>
            <a href="{:U('Food/detail?id='.$vo['id'].'&model=travelcpy')}">
                <img src="{$vo.icon|picture}" alt="">
            </a>
            <p>{$vo.name}</p>
            <ul>
                <li>
                    <img src="__IMG__/icon/adds.png" alt="">
                    <i>旅行社地址：</i>
                    <em>{$vo.addr}</em>
                </li>
                <li>
                    <img src="__IMG__/icon/aphon.png" alt="">
                    <i>联系电话：</i>
                    <em>{$vo.tel}</em>
                </li>
                <li>
                    <img src="__IMG__/icon/activ.png" alt="">
                    <i>活动：</i>
                    <em>{$vo.activity}</em>
                </li>
            </ul>
        </li>

        </volist>
    </ul>
</div>
<!--more-->
<div class="see_more">

    <a href="javascript:" class="molink">查看更多+</a>
</div>
<!--文章底部信息-->
<include file="Public/bottom" />
<!--底部菜单-->
<include file="Public/footer" />
</body>
<script>

    page=1;
    var    url="{:U('Scenic/travelcpy')}";

    $('.molink').click(function () {
        if($(this).hasClass('nothing')==false){
            $.post(url,{'page':page},function (da) {
                var obj = jQuery.parseJSON(da);
                if(obj.code==200){
                    $('#food').append(obj.msg);
                    page++;
                }else{
                    //$('.molink').addClass('nothing');

                    layer.msg('没有更多了哦~');
                }
            })
        }
    })
    $(document).on("click",".icon2",function () {
        var id = $(this).attr('data-id')
        var collection = $(this);
        var colnum=$(this).next('i');
        $.post("/Home/Ajax/collection",{'id':id,'type':'festival'},function(da){
            var num = colnum.html();
            var obj = jQuery.parseJSON(da);
            if(obj.code==200){
                colnum.html(parseInt(num)+1);
                collection.attr("src","/Public/wap/image/icon/hert.png");

            }else if(obj.code==201){
                colnum.html(parseInt(num)-1);
                collection.attr("src","/Public/wap/image/icon/aattt.png");
            }else{
                alert(obj.msg);
            }
        });
    })


</script>
</html>