<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{:C(WEB_SITE_TITLE)}</title>
    <link type="text/css" href="__CSS__/per_public.css" rel="stylesheet"/>
    <link type="text/css" href="__CSS__/per_main.css" rel="stylesheet"/>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/per_public.js"></script>
    <script type="text/javascript" src="__JS__/per_plugin.js"></script>
    <script src="/Public/Wap/plugin/laydate/laydate.js"></script>

    <script type="text/javascript" src="__JS__/ajaxupload.3.5.js" ></script>
    <script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
</head>
<body>

<div class="my_body">
    <!--head-->
    <div class="yue_heada">
        <img src="__IMG__/person/icon/iconfont.png" alt="" >
        商家信息

        <div class="data_up">
            <input type="text" id="date_demo1">
            <i>-</i>
            <input type="text" id="date_demo2">
            <input type="button" value="查询">
        </div>

    </div>

    <!--list-->
    <div class="per_zhil">
        <ul>
            <li>
                <i>店铺logo</i>
                <i>
                    <img src="{$user.icon|picture}" alt="" style="border-radius: 50%;" id="icon">
                    <img src="__IMG__/person/icon/list_l.png" alt="">
                    <input type="hidden" name="iconid" value="{$user.icon}">
                    <input type="hidden" name="oldicon" value="{$user.icon}">
                </i>
            </li>
            <li>
                <i>店铺名称</i>
                <i>
                    <em><input type="text" style="border:0;display: inline-block;" value="{$user.name}" name="name"></em>
                    <img src="__IMG__/person/icon/list_l.png" alt="">
                    <input type="hidden" name="oldname" value="{$user.name}">
                </i>
            </li>
            <li>
                <i>手机号码</i>
                <i>
                    <em id="xiugshouji">{$user.phone}</em>
                    <img src="__IMG__/person/icon/list_l.png" alt="">
                </i>
            </li>
            <li>
                <i>密码</i>
                <i>
                    <em id="xgpassword">************</em>
                    <img src="__IMG__/person/icon/list_l.png" alt="">
                </i>
            </li>
            <li class="las_lime">
                <i>资质图片</i>
                <span>
                    <img src="{$user.zzicon|picture}" alt="" id="icon1">
                      <input type="hidden" name="zzicon" value="{$user.zzicon}">
                    <input type="hidden" name="oldzzicon" value="{$user.zzicon}">
                </span>
            </li>
        </ul>
    </div>
    <div class="btn_dom">
        <input type="button" value="编辑信息" id="submit">
    </div>
    <include file="public/merfooter" />

</div>

</body>
<script>

    $('#xgpassword').click(function () {
        location.href='/wap/public/xiugai'
    })
    $('#xiugshouji').click(function () {
        location.href='/wap/public/xiugshouji'
    })


</script>
<script>
    $(document).on("click","#submit",function () {
        var oldicon = $('input[name=oldicon]').val();
        var icon = $('input[name=iconid]').val();

        var oldzzicon = $('input[name=oldzzicon]').val();
        var zzicon = $('input[name=zzicon]').val();

        var oldname = $('input[name=oldname]').val();
        var name = $('input[name=name]').val();
        if(icon==0){
            layer.msg('请选择头像');return false;
        }else if(name==''){
            layer.msg('请输入昵称');return false;
        }else if(name.length>12){
            layer.msg('昵称不能超过12个字符');return false;
        }else if(oldicon == icon  && oldzzicon == zzicon && oldname == name){
            layer.msg('未做修改');return false;
        }
        $.post("/Wap/mer/shangjia",{'icon':icon, 'zzicon':zzicon, 'name':name},function(da){

            var obj = jQuery.parseJSON(da);
            if(obj.code==200) {
                layer.msg('编辑成功',function () {
                    location.reload()
                })

            }else{
                layer.msg('编辑失败')

            }
        });

    })

</script>
<script>
    $(document).ready(function(){
        uploadsasa();
        uploadsasa1();
    });
    //上传头像
    function uploadsasa(){
        ajaxUploadicon(
                'icon', //上传的按钮id名称
                1000000000,  //允许上传的文件大小（单位：kb）
                '/Home/Public/upload?form_name=userfile&file_size=10000', //提交服务器端地址
                'userfile', //提交服务器文件表单名称
                "$(\".img_div\").show();$(\"#img_path\").attr('src', obj.filename);$(\"#is_upload\").val('1');", //上传成功后执行的 js callback
                'loadimg'  //loading 图片id
        );
    }
    function uploadsasa1(){
        ajaxUploadicon1(
                'icon1', //上传的按钮id名称
                1000000000,  //允许上传的文件大小（单位：kb）
                '/Home/Public/upload?form_name=userfile&file_size=10000', //提交服务器端地址
                'userfile', //提交服务器文件表单名称
                "$(\".img_div\").show();$(\"#img_path\").attr('src', obj.filename);$(\"#is_upload\").val('1');", //上传成功后执行的 js callback
                'loadimg'  //loading 图片id
        );
    }

    function ajaxUploadicon(id_name, filesize, url, filename, callback, loadingid) {
        var index;
        var button = $('#'+id_name), interval;
        var fileType = "pic", fileNum = "one";
        new AjaxUpload(button,{
            action: url,
            name: filename,
            onSubmit : function(file, ext){
                index = layer.load(1, {
                    shade: [0.4,'#000000']
                });
                if(fileType == "pic") {
                    if (ext && /^(jpg|png|gif|jpeg)$/.test(ext)){
                        this.setData({
                            'info': '上传类型为图片'
                        });

                    } else {
                        alert('提示：您上传的是非图片类型！');
                        layer.close(index);
                        return false;
                    }
                }
                $("#"+loadingid).show();
                if(fileNum == 'one') this.disable();
            },
            onComplete: function(file, response){

                layer.close(index);
                var obj = jQuery.parseJSON(response);
                if (obj['ok'] == 'ok') {
                    $('#icon').attr('src',obj['filename']);
                    $('input[name=iconid]').val(obj['id']);

                    uploadsasa();
                } else {
                    switch (response) {
                        case '1':
                            alert('提示：上传失败，图片不能大于100M');

                            break;
                        case '3':
                            alert('提示：图片只有部分文件被上传，请重新上传！');

                            break;
                        case '4':
                            alert('提示：没有任何文件被上传！');

                            break;
                        case '5':
                            alert('提示：非图片类型，请上传jpg|png|gif图片！');

                            break;
                        default:
                            alert('提示：上传失败，错误未知，请您及时联系网站客服人员！');

                            break;
                    }
                }
                $("#"+loadingid).hide();
                window.clearInterval(interval);
                this.enable();
            }
        });
    }
    function ajaxUploadicon1(id_name, filesize, url, filename, callback, loadingid) {
        var index;
        var button = $('#'+id_name), interval;
        var fileType = "pic", fileNum = "one";
        new AjaxUpload(button,{
            action: url,
            name: filename,
            onSubmit : function(file, ext){
                index = layer.load(1, {
                    shade: [0.4,'#000000']
                });
                if(fileType == "pic") {
                    if (ext && /^(jpg|png|gif|jpeg)$/.test(ext)){
                        this.setData({
                            'info': '上传类型为图片'
                        });

                    } else {
                        alert('提示：您上传的是非图片类型！');
                        layer.close(index);
                        return false;
                    }
                }
                $("#"+loadingid).show();
                if(fileNum == 'one') this.disable();
            },
            onComplete: function(file, response){

                layer.close(index);
                var obj = jQuery.parseJSON(response);
                if (obj['ok'] == 'ok') {
                    $('#icon1').attr('src',obj['filename']);
                    $('input[name=zzicon]').val(obj['id']);

                    uploadsasa();
                } else {
                    switch (response) {
                        case '1':
                            alert('提示：上传失败，图片不能大于100M');

                            break;
                        case '3':
                            alert('提示：图片只有部分文件被上传，请重新上传！');

                            break;
                        case '4':
                            alert('提示：没有任何文件被上传！');

                            break;
                        case '5':
                            alert('提示：非图片类型，请上传jpg|png|gif图片！');

                            break;
                        default:
                            alert('提示：上传失败，错误未知，请您及时联系网站客服人员！');

                            break;
                    }
                }
                $("#"+loadingid).hide();
                window.clearInterval(interval);
                this.enable();
            }
        });
    }
</script>
</html>
<script>

    /*适应高度不够*/
    set_heiget();

    $(window).resize(function () {

        set_heiget();
    })

    /*适应高度不够*/
    function set_heiget() {

        if ($("body").height() < $(document).height()) {

            $("body").height($(document).height());
            $("body").css("background", "#ffffff");
        }

    }

    $(".ch_cel").click(function () {

        $(".data_up").slideToggle();
    })

    var off = true;
    $(".off_on").click(function () {

        if (off == true){

            $(this).addClass("off_on_aa");
            off = false;
        }else {
            $(this).removeClass("off_on_aa");
            off = true;
        }
    })

</script>