.icon-fdj{
	background: url(../images/icon/icon-fdj.png) no-repeat center center;
	background-size: auto;
}
.icon-dianh2{
	background: url(../images/icon/icon-dianh2.png) no-repeat center center;
	background-size: auto;
}

.icon-rightjt{
	background: url(../images/icon/icon-rightjt.png) no-repeat center center;
	background-size: auto;
}
@media only screen and (min-width:320px) and (max-width:767px){
	.width1200{width: 100%;}
	.hadeBox{
		width: 100%;height: 100%;position: fixed;top:-55px;left:100%; background: #000;background: rgba(0,0,0,.6);z-index: 34;display: block;
	}
	.hadeCon{width: 260px;height: 100%;float: right; overflow-y:auto;background: #fff; box-sizing: border-box; padding-bottom: 30px;}
	.hd_logo{display: none;}
	.hd_logo img{width: 100%;}
	.hade_right{}
	.hade_nav{width: 100%;display: block;}
	.hade_nav > ul{box-sizing: border-box;padding: 0 20px;margin-top:55px;}
	.hade_nav > ul > li{line-height:40px;border-bottom: 1px solid #e6e6e6;overflow: hidden;}
	.hade_nav > ul > li > a{box-sizing: border-box;padding: 0px 15px;}
	.hade_nav > ul > li:after,.had_nav_lk ul li:after{width:100%;top: auto;left:-200%;right: 0;bottom: 0;margin: auto;}
	.hade_nav > ul > li:hover:after,.had_nav_lk ul li:hover:after{left:0;}
	.hade_query{display:block;vertical-align: middle;}
	.query_Con{width: 100%;background: #fff;position: fixed;display: -webkit-flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;box-sizing: border-box;padding: 10px 15px;-webkit-box-shadow: 0 0 5px 0 #ddd;-moz-box-shadow: 0 0 5px 0 #ddd;box-shadow: 0 0 5px 0 #ddd;z-index: 1;top:-40%;left:auto;right:-100%; }
	.query_Con input.query_Text{width: 100%;height:33px;}
	.query_Con .query_sub{width:74px;height: 100%;line-height:53px;}
	.que_lk{width: 100%;display: block;text-align: center;margin-top:20px;}
	.hade_query a{display: inline-block;margin: 0px 20px;}
	.que_lk a,.que_lk span{display: inline-block;vertical-align: middle;}
	.had_nav_lk{width:100%;display: none;background-color: #FFFFFF;}
	
	.bannerBox{width: 100%;height:200px;overflow: hidden;}
	.banner_text h3{font-size:26px;margin:120px auto 0px;}
	.banner_text em{width:60%;height: 2px;margin:50px auto 0px;}
	.banner_text p{font-size:16px;margin:50px auto 0px;}
	.perforCon{text-align: left;box-sizing: border-box;padding:30px 5px;}
	.evaluation,.dynamic{display:block;vertical-align: middle; margin-top: 50px;opacity: 0;filter: alpha(opacity==00);transition: 1s;-o-transition: 1s;-ms-transition: 1s;-moz-transition: 1s;-webkit-transition: 1s;}
	.evaluation{width:100%;box-sizing: border-box;padding:20px 20px;}
	.eval_Left,.eval_right{width:100%;height: auto; display:block;}
	.eval_right{margin-top:20px;}
	.dynamic{width:100%;box-sizing: border-box;padding-top: 20px;}
	.dynamic_tit{text-align: center;}
	.dy_tit{font-size:24px;}
	.VideoBox{padding: 20px 0px 50px;margin-top: 50px;opacity: 0;filter: alpha(opacity==00);transition: 1s;-o-transition: 1s;-ms-transition: 1s;-moz-transition: 1s;-webkit-transition: 1s;}
	.v_tit p{height: 80px;line-height:80px;font-size:24px;}
	.v_box{width:80%;height:auto;border: 1px solid #d3d3d3;margin-top:40px;margin-left:30px;}
	.v_video{width: 100%;height: auto;position: relative;left:-15px;bottom: 15px;}
	.newsBox{box-sizing: border-box;padding: 20px 0px 90px;}
	.newsCon{box-sizing: border-box;padding: 0px 5px;}
	.n_tit{display: block;float: left;}
	.n_tit p{font-size:24px;text-align:center;}
	.n_lk{line-height:50px;}
	.news_left,.news_right{width:100%;display:block;margin-top:80px;opacity: 0;filter: alpha(opacity==00);transition: 1s;-o-transition: 1s;-ms-transition: 1s;-moz-transition: 1s;-webkit-transition: 1s;}
	.news_left .myCar li{height:170px !important;position: relative;}
	.news_left .myCar li p{width:70%;}
	.news_left .myCarpage{right:15px;bottom: 15px;}
	.news_left .myCar li em,
	.news_left .myCar li p{height:50px;line-height:50px;}
	.news_l_item p{width:70%;}	
	.news_right{border-top:0;}	
	.n_r_time{width:30%;}
	.n_r_time p{font-size:22px;}
	.n_r_text{width:70%;}
	.footerBox{display: none;}
	.fo_b_footer{text-align: center;}
	.fo_b_pu{display: none;}
	.navBtn {display: block;}
	
	/*  */	
	.hade_pou{display: block !important;}	
	.hade_pc{display: none !important;}	
	.opt_tabBox{margin-top:60px;}
	.optionsBox{}
	.crumbsBox{width:100%;display: block;height:44px;line-height:44px;box-sizing: border-box;padding: 0px 15px;}
	.s_nav{width:100%;display: block;height:44px;line-height:44px;overflow-x:auto;}
	.s_nav::-webkit-scrollbar {display:none} 
	.s_nav ul{list-style: none;display: block;overflow: hidden;}
	
	/* 走进C-IASI */
	.introduce{box-sizing: border-box;padding: 0px 15px;}
	.expTit{padding-bottom:30px;}
	.exp_tit{font-size:24px;}
	.Int_newsCon{padding: 30px 0px;}
	.Int_n_img{width:100%;height:200px;}
	.Int_n_Text{width:100%;margin-top: 20px;}
	.Int_ensure{box-sizing: border-box;padding:30px 0px;}
	.Int_e_item{width:49%;padding: 50px 5px;}
	.en_img{width:100%;height:auto;}
	.frameCon{box-sizing: border-box;padding:30px 0px;}
	.fra_tit{font-size:24px;}
	.far_c_item{width:100%;height:auto;padding: 20px 20px;margin-top:15px;}
	.great_con{padding: 30px 0px;}
	.great_c_v{width:100%;height: auto;margin-top: 15px;}
	
	
	
	/* IASI管理中心 */
	.man_img{padding: 30px 0px}
	.management{box-sizing: border-box;padding: 0px 15px;}
	.man_img img{width: 100%;}
	.StagingArea{box-sizing: border-box;padding: 30px 0px;}
	.sat_tit{font-size: 24px;}
	.sat_c_img{width:100%;height:auto;}
	.sat_c_text{width:100%; margin-top: 15px;}
	
	/* 合作单位 */
	.leagueCon{box-sizing: border-box;padding:20px 15px;margin-bottom: 30px;}
	.lea_item{width:100%;margin-top:50px;display:block;}
	.lea_i_img img{width: 100%;}
	.lea_i_con{margin-top:30px;}
	.lea_er,.lea_addlss{display:block;margin: auto;}
	.lea_addlss{width:100%;padding-left:20px;text-align: left;}
	
	/* 评级与安全奖*/
	.appraisal{box-sizing: border-box;padding: 0px 10px;}
	.a_news_left,.a_news_right{width: 100%; margin-top: 20px;}
	.a_nL_con,.nl_move{padding: 0px 15px;}
	.a_nL_con p{width:100%;}
	.a_nL_con span{color: #999;}
	.nl_active,.nl_active img{height: 130px;}
	.latestTest{margin-top:50px;margin-bottom: 50px;}
	.latestCon{margin-top:30px;}
	.test_it_img{height:120px;}
	.a_news_left,
	.a_news_right,.latest_tit,
	.latestCon,.evalCon_item,
	.newsdetail,.list-group li,
	.downloadlist ul li ,
	.Int_n_img,
	.Int_n_Text div,
	.frame_titCon,
	.far_c_item,.fra_tit,.great_c_v,
	.man_img,.sat_tit,.sat_c_img,.sat_c_text{margin-top: 80px;opacity: 0;filter: alpha(opacity==0);transition: 1s;-o-transition: 1s;-ms-transition: 1s;-moz-transition: 1s;-webkit-transition: 1s;}
	
	/* 新闻中心 */
	.newsCenter{margin: 30px auto;}
	.newsHd{margin-bottom: 30px;}
	/* 管理办法 */
	.downloadlist {margin:30px 0;box-sizing: border-box;padding: 0px 15px;}
	.downloadlist ul li {width:100%;display: block;}
	.downloadlist ul li a:hover {-webkit-box-shadow: 0 0 15px 0 #e4e4e4;-moz-box-shadow: 0 0 15px 0 #e4e4e4;box-shadow: 0 0 15px 0 #e4e4e4;-webkit-transform:translateY(-15px);-moz-transform: translateY(-15px); -ms-transform: translateY(-15px);-o-transform: translateY(-15px);transform: translateY(-15px);}
	.deslist ul li {line-height:35px;padding: 25px 15px;transition: 1s;-o-transition: 1s;-ms-transition: 1s;-moz-transition: 1s;-webkit-transition: 1s;}
	.deslist ul li > p {width:100%;}
	.deslist ul li > div a{position: relative;top: 3px;}
	.deslist ul li > div a {float: right;}

	
	/*  评价结果 */
	.resultsCon{margin-top: 30px;box-sizing: border-box;padding: 0px 15px;}
	.yearBox label{margin-left:20px;}
	.evalCon_item{width:100%;padding:15px 15px;margin-left:10px;}
	.ev_hd_tit{width:50%;padding-left:10px;}
	.ev_ance_item{box-sizing: border-box;padding-left: 20px;}
	.ev_ance_item,.ev_an_lk{width:100%;float: left;margin-top:15px;}
	
	
	/* 媒体聚焦 */
	.focu_Img{width:100%;height: 140px;}
	.focu_Img,.focu_con{display: block;}
	.focu_con{width:100%;padding:0px 15px;}
	.FocusingBox{box-sizing: border-box;padding: 0px 15px;}
	.focu_item{padding:25px 0px;}
	.focu_c_lt{padding-right:15px;}
	.focu_c_text{box-sizing: border-box;padding: 5px 0px;}
	.focu_c_lt span{margin-top:10px;}
	.focu_c_time{width: 22%;padding-left:5px;}
	.focu_c_time p{font-size:18px;}
	.focu_c_time p,.focu_c_time a{line-height: 30px;}
	.focu_c_lk{margin-top: 15px; text-align: center;}
	
	/* 联系我们 */
	.cont_left,.cont_right{width:100%;display: block;}
	.cont_right{margin-top: 20px;}
	.ContactUs{box-sizing: border-box;padding: 30px 15px ;}
	.cont_l_logo img{width: 100%;}
	.cont_left{box-sizing: border-box;padding-left:30px;}
	.cont_l_er{width: 130px;margin:40px auto 0px;}
	.co_r_left,
	.co_r_right{width:100%;display: block;}
	.cont_l_logo,.cont_left,.cont_right{margin-top: 50px;opacity: 0;filter: alpha(opacity==00);transition: 1s;-o-transition: 1s;-ms-transition: 1s;-moz-transition: 1s;-webkit-transition: 1s;}
	
	
}
@media only screen and (min-width:1024px){
	.width1200{
		width: 1200px;
		}
	.hadeBox{min-width:1340px; width: 100%;display: block;position: fixed;z-index:35;background-color: #FFFFFF;}
	.hadeCon{
		height: 94px;line-height:94px;box-sizing: border-box;padding: 0px 25px;
	}
	.hd_logo{width: 280px;height: 42px;display: inline-block;margin-top:28px;}
	.hd_logo img{width: 100%;height: 100%;}
	.hade_right{display:block;float: right;}
	.hade_nav{display: inline-block;vertical-align: middle;}
	.hade_nav > ul{list-style: none;}
	.hade_nav > ul > li{display: inline-block;vertical-align: middle;padding: 0px 19px;}
	.hade_nav > ul > li:after,.had_nav_lk ul li:after,.navCon_lk ul li:after{width: 0%;top: auto;left: 0;right: 0;bottom: 0;margin: auto;}
	.hade_nav > ul > li:hover:after,.had_nav_lk ul li:hover:after,.navCon_lk ul li:hover:after{width: 100%;}
	.hade_query{display: inline-block;vertical-align: middle;}
	.query_Con{width: 164px;height: 33px;display: inline-block;position: relative;margin:0px 30px;}
	.query_Con input.query_Text{width: 100%;height:100%;}
	.query_Con .query_sub{width: 40px;height: 100%;line-height:33px;}
	.que_lk,.hade_query a{display: inline-block; vertical-align: middle;}
	.had_nav_lk{width:100%;display: none;background-color: #f3f3f3;position: absolute;left: 0;right: 0;margin: auto;z-index: 1;}
	.navBtn {display: none;}
	.bannerBox{width: 100%;height:550px;overflow: hidden;}
	.banner_text h3{font-size: 60px;margin:300px auto 0px;opacity: 0;filter: alpha(opacity ==00);}
	.banner_text em{width: 270px;height: 2px;margin:200px auto 0px;opacity: 0;filter: alpha(opacity ==00)}
	.banner_text p{font-size: 36px;margin:200px auto 0px;opacity: 0;filter: alpha(opacity ==00)}
	.perforCon{text-align: right;box-sizing: border-box;padding: 60px 0px;}
	.evaluation,.dynamic{display: inline-block;vertical-align: middle;}
	.evaluation{width:38%;float: left;box-sizing: border-box;padding:20px 20px;}
	.eval_Left,.eval_right{width:47%;display: inline-block;}
	.eval_Left{float: left;}
	.dynamic{width:58%;}
	.dynamic_tit{text-align: right;}
	.dy_tit{font-size: 36px;}
	.VideoBox{padding: 45px 0px 110px;}
	.v_tit p{height: 80px;line-height:80px;font-size: 28px;}
	.v_box{width: 784px;height: 440px;border: 1px solid #d3d3d3;margin-top:110px;margin-left:125px;}
	.v_video{width: 100%;height: 470px;position: absolute;left: 0px;bottom: 0px;}
	.newsBox{box-sizing: border-box;padding: 50px 0px 90px;}
	.n_tit{display: block;float: left;}
	.n_tit p{font-size:28px;text-align:center;}
	.n_lk{line-height:62px;}
	.newsContent{margin-top:35px;}
	.news_left{width: 53%;float: left;}
	.news_right{width: 37%;float: right;}
	.news_left .myCar li{height: 290px !important;position: relative;}
	.news_left .myCar li p{width: 80%;}
	.news_left .myCarpage{right:15px;bottom: 20px;z-index: 1;}
	.news_left .myCar li em,
	.news_left .myCar li p{height:60px;line-height:60px;}
	.news_l_item p{width: 80%;}	
	.news_right{border-top: 1px solid #d3d3d3;}	
	.n_r_time{width:24%;}
	.n_r_time p{font-size: 26px;}
	.n_r_text{width: 76%;}
	.footerBox{display: block;}
	.fo_b_footer{float: left;}
	.fo_b_pu{display: block;}
	.opt_Box > div{padding: 50px 0px;}
	
	.v_tit,.v_Text,.newsTit,.fra_tit,.fra_text,.frame_Content,
	.fra_tit{margin-top:100px;}
	.v_box{margin-top: 200px;}
	.Int_ensure .Int_e_item{position: relative;top:50px;}
	.evaluation,
	.news_left{margin-left:-100%;}
	.cont_left,.a_news_left,.Int_n_img
	{position: relative;left: -100%;}
	.dynamic,.news_right,.cont_right{margin-right: -100%;}
	.cont_right,.a_news_right,.Int_n_Text,
	.great_c_v{position: relative;right: -100%;}
	.newslie{position: relative;right: -200%;}
	.evaluation,.dynamic,.v_box,.v_video,
	.news_left,.news_right,.cont_left,
	.cont_right,.a_news_left,.a_news_right,.newslie,.Int_n_img,
	.Int_n_Text,.Int_ensure .Int_e_item,
	.great_c_v{opacity: 0;filter:alpha(opacity==00);}
	.v_tit,.v_Text,.newsTit,.fra_tit,.fra_text,.frame_Content,
	.fra_tit{opacity: 0;filter:alpha(opacity==00);transition: 1s;-o-transition: 1s;-ms-transition: 1s;-moz-transition: 1s;-webkit-transition: 1s;}
	
	
	
	
	/*  */	
	.hade_pou{display: none !important;}	
	.hade_pc{display: block !important;}
	.optionsBox{height: 66px;line-height:66px;}
	.crumbsBox{display: block;float: left;}
	.s_nav{display: block;float: right;}
	.s_nav ul{list-style: none;margin-right:-30px;}
	
	/* 走进C-IASI */
	.expTit{padding-bottom:50px;}
	.exp_tit{font-size:28px;}
	.Int_n_img{width: 40%;height: 480px;}
	.Int_n_Text{width: 60%;padding-left: 40px;}
	.Int_ensure{box-sizing: border-box;padding: 50px 0px;}
	.Int_e_item{width:24%;padding: 50px 0px;}
	.en_img{width: 145px;height: 145px;}
	.fra_tit{font-size:32px;}
	.far_c_item{width: 23%;height:830px;padding: 20px 20px;margin-left:27px;}
	.great_con{padding: 40px 0px;}
	.great_c_v{width:32%;height: 220px;margin-left:24px;float: left;}
	.Int_newsCon{
		padding: 50px 0px;
	}
	.frameCon{box-sizing: border-box;padding: 70px 0px;}
	
	/* IASI管理中心 */
	.man_img{padding: 40px 0px 90px;}
	.StagingArea{box-sizing: border-box;padding: 40px 0px;}
	.sat_tit{font-size: 32px;}
	.sat_c_img{width: 30%;height:250px;}
	.sat_c_text{width: 70%;padding: 0px 40px;}
	.man_img,
	.StagingArea{margin-top: 100px;opacity: 0;filter: alpha(opacity==0);transition: 1s;-o-transition: 1s;-ms-transition: 1s;-moz-transition: 1s;-webkit-transition: 1s;}

	
	
	/* 合作单位 */
	.leagueCon{text-align: right;}
	.lea_item{width:49%;margin-top: 60px;display: inline-block;}
	.lea_i_con{margin-top: 40px;}
	.lea_er,.lea_addlss{display: inline-block;vertical-align: middle;}
	.lea_addlss{width: 72%;padding-left:20px;text-align: left;}
	
	
	
	/* 评级与安全奖*/
	.a_news_left{width: 70%;float: left;}
	.a_news_right{width: 28%;float: left;}
	.a_nL_con,.nl_move{padding: 0px 20px;}
	.a_nL_con p{width: 80%;}
	.a_nL_con span{float: right;}
	.nl_active,.nl_active img{height: 355px;}
	.a_news_right{margin-left:24px;}
	.latestTest{margin-top: 80px;}
	.latestCon{margin-top:50px;}
	.test_it_img{height: 214px;}
	.latest_tit,
	.latestCon{margin-top:100px;opacity: 0;filter: alpha(opacity==0);}
	/* 新闻中心 */
	.newslie-r {padding-left: 0;}
	.newsdetail ,.netlie ul li{margin-top:50px;opacity: 0;filter: alpha(opacity==0);transition: 1s;-webkit-transition: 1s;-moz-transition: 1s;-ms-transition: 1s;-o-transition: 1s;}
	.newsHd,.newsCenter{overflow-x: hidden;}
	
	/* 管理办法 */
	.downloadlist {margin: 80px 0;}
	.downloadlist ul li {width:18%;margin-left:25px;}
	.downloadlist ul li a:hover {-webkit-box-shadow: 0 0 15px 0 #e4e4e4;-moz-box-shadow: 0 0 15px 0 #e4e4e4;box-shadow: 0 0 15px 0 #e4e4e4;-webkit-transform: scale(1.10);-moz-transform: scale(1.10); -ms-transform: scale(1.10);-o-transform: scale(1.10);transform: scale(1.10);}
	.deslist ul li {line-height: 24px;padding: 25px 0px;}
	.deslist ul li > p {width: 80%;float: left;}
	.deslist ul li > div {float: right;}
	.deslist ul li > div a {float: left;}
	.downloadlist ul li {top:100px;opacity: 0;filter: alpha(opacity == 0);}

	
	
	/*  评价结果 */
	.yearBox label{margin-left:60px;}
	.evalCon_item{width: 32.5%;padding:15px 15px;margin-top:80px;margin-left:10px;opacity: 0;filter: alpha(opacity==0);}
	.ev_hd_tit{width: 60%;padding-left:15px;}
	.ev_ance_item,.ev_an_lk{width: 50%;float: left;margin-top:15px;}
	
	/* 媒体聚焦 */
	.focu_Img{width: 20%;height: 140px;}
	.focu_Img,.focu_con{display: block;float: left;}
	.focu_con{width: 80%;padding:0px 25px;}
	.focu_item{padding: 50px 0px;}
	.focu_c_lt{padding-right:30px;}
	.focu_c_time{width: 20%;padding-left: 25px;}
	.focu_c_lt span{line-height:25px;}
	.focu_c_time p{font-size: 26px;}
	.focu_c_time p,.focu_c_time a{line-height:55px;}
	
	/* 联系我们 */
	.cont_l_logo{margin-top:50px;opacity: 0;filter:alpha(opacity == 0);transition: 1s;-o-transition: 1s;-ms-transition: 1s;-moz-transition: 1s;-webkit-transition: 1s;}
	.cont_left,.cont_right{width: 50%;display: block;float: left;}
	.cont_l_er{width: 130px;margin-top: 40px;}
	.co_r_left,
	.co_r_right{width: 48%;display: block;float: left;}
	.co_r_right{margin-left: 24px;}
	
}
.ani,
.anNws:first-child{
	margin-top: 0px !important;
}
.aneval{
	margin-top: 30px !important;
}
.anNws{
	margin-top: 60px !important;
}
.evaleft{
	left: auto !important;
}
.evaright{
	right: auto !important;
}
.aneval,
.ani,
.anNws,
.evaleft,
.evaright{
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}