<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
	
	<include file="Public/top" />
	
	<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/default.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>
	<link rel="stylesheet" type="text/css" href="__CSS__/members.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/page.css"/>

	<script src="__JS__/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__JS__/swiper.min.js" type="text/javascript" charset="utf-8"></script>
	<!-- <script src="__JS__/bootstrap.min.js" type="text/javascript" charset="utf-8"></script> -->
    <script type="text/javascript" src="__JS__/default.js"></script>
</head>
<body>
	<include file="Public/header" />
	
	<!-- kuai -->
	<div class="kBox"></div>
	
	<section class="contentBox">
		<!--  -->
		<div class="opt_tabBox">
			<div class="optionsBox">
				<div class="width1200 optionsCon">
					<div class="crumbsBox">
						<a href="{:U('Index/index')}"><i class="glyphicon glyphicon-home"></i>首页</a>
						<span class="icon-rightjt"></span>
						<a href="{:U('News/index')}">新闻中心</a>
						<span class="icon-rightjt"></span>
						<a class="crumbsTxt" >{$get['typeid']|modelField="category","title"}</a>
					</div>
					<!-- xiao nav -->
					<div class="s_nav">
						<ul>
							<volist name="twonav" id="twnav">
								<a href="{:U('News/index',array('typeid'=>$twnav['id']))}"><li class="<?php if($get['typeid']==$twnav['id']){echo 'active';} ?>">{$twnav['title']}</li></a>
							</volist>
						</ul>
					</div>
				</div>
			</div>
			<!--  -->
			<div class="opt_Box">
				<div>
					<div class="width1200 newsHd">
						<div class="container">
							<div class="row">
								<div class="col-md-8">
									<div class="newsdetail">
										<div class="dettime">
											<p>{$vo['title']}</p>
											<span>发布时间:{$vo['create_time']|date='Y-m-d',###}</span>
										</div>
										<div class="detailCont">
											{$vo['content']}
										</div>
									</div>
									<div class="linknst">
										<notempty name="prepage">
										<a href="{:U('details',array('typeid'=>$prepage[typeid],'id'=>$prepage['id']))}" class="linkleft">上一篇新闻</a>
										</notempty>
										<notempty name="nextpage">
										<a href="{:U('details',array('typeid'=>$nextpage[typeid],'id'=>$nextpage['id']))}" class="linkright">下一篇新闻</a>
										</notempty>
									</div>
								</div>
								<div class="col-md-4">
									<div class="newslie">
										<div class="newslie-tit">最新消息</div>
										<div class="row netlie">
											<ul class="list-group">
												<volist name="list" id="vot">
												<li>
													<div class="col-md-5 newslie-l">
														<a href="{:U('details',array('typeid'=>$vot['typeid'],'id'=>$vot['id']))}"><img src="{:picture($vot['icon'])}"></a>
													</div>
													<div class="col-md-7 newslie-r">
														<a href="{:U('details',array('typeid'=>$vot['typeid'],'id'=>$vot['id']))}">{$vot['title']}</a>
														<p>发布时间：{$vot['create_time']|date='Y-m-d',###}</p>
													</div>
												</li>
												</volist>
											</ul>
										</div>
										<!--<div class="newMore"><a href="#"> 更多&gt;&gt; </a> </div>-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hidddes">行业要闻</div>
			</div>
		</div>
		
	</section>
	
<include file="Public/footer" />
	
	<script type="text/javascript">
	$(function(){
		
		var tiemh =1000;
		loadZf($('.newsHd'),$('.newslie'));
		function loadZf($hade,$x){
			var winH = $(window).height();
			var scrollH = $(window).scrollTop();
			var $con = $hade.offset().top ;
			if($con < winH + scrollH){
				$x.animate({
					'right':'0',
					'opacity':'1',
					'filter': 'alpha(opacity ==100)',
				},tiemh);
			}
		}
	});
	</script>
</body>
</html>