<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="wap-font-scale" content="no">

<title>{:C('WEB_SITE_TITLE')}</title>
<meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}" />
<meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}" />
<!--fonts-->
<link rel="stylesheet" type="text/css" href="__FONTS__/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="__CSS__/comm.css"> 
<link rel="stylesheet" type="text/css" href="__CSS__/style.css"> 
<link rel="stylesheet" type="text/css" href="__CSS__/mobile.css"> 
<!--js-->
<script type="text/javascript" src="__JS__/jquery-1.8.0.js"></script>
<script type="text/javascript" src="__JS__/mobile.js"></script>
<script type="text/javascript" src="__JS__/layer.js"></script>

<style>
.searchtitle{width:100%;}
</style>

</head>
<body>
    
    <!--头部-->
   <include file="Public:header"/>
    <!--banner-->

   <div class="widthall nybanner" style="background: url('__IMG__/contact.png') no-repeat;">
    	
    	<div class="width1200">
    		<div class="width400 bannertitle">
    			<p class="p1">SEARCH</p>
    			<p class="p2"></p>
    			<p class="p3">搜索</p>
    		</div>
    	</div>
    </div>
   
    <!--主体-->

    <div class="widthall main">
    	<div class="width1200">
    	    <!--面包屑-->
    		<div class="mianbao">
    			<div class="mianbao_img"><img src="__IMG__/sy.png"/></div>
    			<div class="mianbao_text"><p>
    			     <a href="/">首页</a>
    			     <a> > </a>
    			     <a href="javascript:;">搜索</a>
                     
                     
    			</p></div>
    			<div class="mianbao_prve"><a href="javascript:history.back(-1)">返回上一页</a></div>
    		</div>

    		<!--内容-->
            <div class="product comms">
                
				<div class="left">
		<div class="cptitles"><p>搜索 / SEARCH</p></div>
		<div class="twonaver">
			
		</div>
		<div class="contactleft">
			<div class="imgtop"><img src="{:picture($leftads[icon])}"/></div>
			<div class="lists"><p class="pp1">{:C('WEB_SITE_TITLE')}</p></div>
			<div class="lists"><p class="pp2">{:C('WEB_SITE_MOBILE')}</p></div>
			<div class="lists"><p class="pp3">{:C('WEB_YOUBIAN')}</p></div>
			<div class="lists"><p class="pp4">{:C('WEB_SITE_URL')}</p></div>
			<div class="lists"><p class="pp5">{:C('WEB_COM_ADDRESS')}</p></div>

		</div>


	</div>

				
				
			   <div class="right news_list">
                    <ul>
					<!--新闻-->
					
					
					<!--产品-->
					<volist name="listarr" id="vos">
                        <li style="width:100%; float:left;">
                            <a href="{:U('Product/details',array('topid'=>2,'twoid'=>$vos[typeid],'id'=>$vos[id]))}">
                               
                                <div class="newstitle searchtitle">
                                       <p class="p1">{$vos[title]|cutstr=0,30}</p>
                                       <!--<p class="p2">{$vos[content]|msubstr=0,120}</p>-->
                                       <div class="p3">
                                           <div class="newsves newstb"><img src="__IMG__/news/tb1.png"/></div>
                                           <div class="newsves">{$vos[create_time]|date='Y-m-d H:i',###}</div>
                                           <div class="newsves newstbb"><img src="__IMG__/news/tb2.png"/></div>
                                           <div class="newsves">{$vos[view]}</div>
                                       </div>
                                </div>
                            </a>
                        </li>
                    </volist>
                       
                    </ul>
					<!--分页-->
					<div class="fy">
						 <div class="fy_tu" id="fy_tu">
							 <ul>
								 {$page}							
							 </ul>
						 </div>
					</div>
					
					
                </div>

            </div>
            
    	</div>
    </div>
    
    <!--脚步-->
    <include file="Public:footer"/>


</body>
</html>